<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
                     tools:ignore="ScopedStorage"/>

    <application
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Sipami"
            tools:targetApi="31">

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDmcXgQN8gm5zhAnryw0ntBsORQXXsf260" />

        <service
                android:name=".utils.custom.FirebaseCloudMessaging"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
                android:name=".views.colleger.user._actvLogin"
                android:screenOrientation="portrait"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".views.colleger.surat._actvSurat"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.colleger.layout._actvMain"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.colleger.user._actvRegis"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.colleger.profil._actvProfilEdt"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.colleger.surat._actvShow"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.colleger.surat._actvUpdate"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.colleger.activity._actvWebView"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.colleger.layout._actvMaps"
                  android:screenOrientation="portrait"
                  android:exported="true"/>


        <activity android:name=".views.admin.layout._actvMain"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.admin.surat._actvSurat"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.admin.surat._actvShow"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.admin.surat._actvHistory"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.admin.file._actvFile"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.admin.document._actvDocument"
                  android:screenOrientation="portrait"
                  android:exported="true"/>
        <activity android:name="com.example.sipami.views.admin.mahasiswa._actvMahasiswa"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>